body {
  width: 100vw;
  height: 100vh;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  background-repeat: no-repeat;
  font-size: 23px;
  font-family: 'Source Sans Pro', sans-serif;
  
}

.row {
  width: 100%;
}
.picture-contact-box i {
  color: initial;
  font-size: 30px;

}

.picture-contact-box i:hover {
  color: rgb(0, 0, 153);
  font-size: 30px;

}
#profile-image {
  display: inline;
  margin: 10px;
  border-radius: 10px;
  height: 100px;
  width: 100px;
}

.profile-box2 {
  display: inline-block;
  text-align: right;
}

.profile-box4 {
  text-align: left;
}

.picture-contact-box {
  margin-top: 10px;
  border-radius: 20px;
  text-align: center;
  font-weight: bolder;
  
  font-size: 30px;
  font-family: 'Shadows Into Light', cursive;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: flex-end;
}

.profile-box {
  background-color: rgba(200,220,220,0.12);
  border-radius: 20px;
  width: 100%;
  margin-top: 10px;
}

.bio {
  margin-top: 10px;
  height: 100%;
  text-align: left;
  align-self: flex-end;
  padding: 10px;

}

.content {
  margin-top: 10px;
  text-align: center;
}

.content-1, .content-2, .content-3 {
  background-color: rgba(200,220,220,0.12);
  border-radius: 20px;
}
